@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(39, 39, 39) !important;
}

body,h1,h2,h3,p,ul,li{
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

img{
  max-width: 100%;
}

.left{
animation: left forwards .5s;
}



@keyframes left {
  from{
    opacity: 0;
    transform: translateX(-200px);
  }

  to{
    opacity: 1;
    transform: initial;
  }
}