.alert{
    position: absolute;
    text-align: center;
    width: 400px;
    background-color: red;
    border-radius: 10px;
    top: 10px;
    animation: toast 2s forwards;
    padding: 5px;
}

.close{
    width: 20px;
    position: absolute;
    top: -10px;
    left: 97%;
    cursor: pointer;
    background-color: black;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes toast {
    0%{
        left: -100px;
        opacity: 100%;
    }

    100%{
        opacity: 100%;
        left: 10px;
    }
}