
.grid{
    flex: 2;
}

.grid th {
  color: black;
  font-weight: bold;
}

.grid td {
  color: black;
  border-bottom: solid 1px rgb(117, 116, 116);
}

.tbody td img {
  width: 22px;
  cursor: pointer;
}

.containerTable {
  overflow-y: scroll;
}

.legenda {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.legenda span {
  padding: 5px;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.315);
  cursor: pointer;
    margin-bottom: 20px;
}

.devolucao {
  background-color: yellow;
}

.exclusiva {
  background-color: springgreen;
}

.comum {
  background-color: white;
}

.total{
    background-color: black;
    color: white !important;
}