.resultado {
  margin-top: 20px;
  color: white;
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.head {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--bs-body-bg);
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 2px var(--bs-border-color);
  display: flex;
  justify-content: center;
  color: var(--bs-primary);
  font-weight: 600;
}




.head:nth-child(2):hover {
  transform: scale(1.01);
  background-color: var(--bs-primary) !important;
  cursor: pointer;
  color: white;
  transition: .2s ;
  animation: push 2s forwards infinite;
}

.head:nth-child(2):hover .valorTotal div span{
color: black;

}

@keyframes push {
  0%{
    transform: scale(1);
  }
  

  50%{
    transform: scale(0.98);
  }

  100%{
    transform: scale(1);
  }

}

.visualizar{
  flex: 1;
}


.valorTotal {
  display: flex;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.valorTotal div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  text-align: center;

}

.valorTotal div:last-child {
  border-left: solid 1px var(--bs-secondary-bg)
}

.valorTotal span {
  display: flex;
  align-items: center;
  color: var(--bs-success);
  font-weight: bold;
  margin-left: 10px;
}

.vendedora {
  font-size: 1.2rem;
  color: var(--bs-secondary-color);
}

.vendedora span {
  color: var(--bs-primary);

}

.tabelas {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
  border-radius: 50px;
}

.tabelaContainer {
  text-align: center;
  background-color: var(--bs-body-bg);
  flex: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.253);
  border: solid 2px var(--bs-border-color);
  color: var(--bs-secondary-color);
  justify-content: center;
  align-items: center;
}

.tabelaContainer h1 {
  font-size: 1.6rem;
  text-align: center;
}

.atualizadas {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  font-size: 1rem;
  padding: 5px;
}

.apuracao {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}

.apuracao:nth-child(1){
  border-right: solid 1px var(--bs-secondary-bg);
}

.apuracao h4 {
  font-size: 1rem;
}

.apuracao p {
  color: var(--bs-success);
  font-weight: bold;
  font-size: 1.3rem;
}

.porcentagem {
  overflow-y: scroll;
  max-height: 300px;
  padding: 20px;
}

@media (max-width: 970px) {
  .resultado {
    gap: 10px;
    grid-template-columns: 1fr;
  }

  .tabelas {
    flex-direction: column;
  }
}

@media (max-width: 570px){
  .vendedora{
    font-size: .9rem;
    text-align: center;
  }
  .valorTotal{
    font-size: 1rem;
  
  }

  .tabelaContainer h1{
    font-size: 1.1rem;
  }

  .apuracao p{
    font-size: 1.1rem;
  }
}