.resultado {
  margin-top: 20px;
  color: white;
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.head {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.253);
  border: solid 2px rgb(37, 37, 37);
  display: flex;
  justify-content: center;
}

.head:hover {
  cursor: pointer;
  background-color: black;
}

.head:active {
  transform: scale(1.01);
}
.valorTotal {
  display: flex;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  gap: 20px;
  justify-content: center;
}

.valorTotal div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.valorTotal div:last-child {
  border-left: solid 1px rgb(37, 37, 37);
}

.valorTotal span {
  display: flex;
  align-items: center;
  color: green;
  font-weight: bold;
  margin-left: 10px;
}

.vendedora {
  font-size: 1.2rem;
}

.vendedora span {
  color: green;
}

.tabelas {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
  border-radius: 50px;
}

.tabelaContainer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.658);
  flex: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.253);
  border: solid 2px rgb(37, 37, 37);
}

.tabelaContainer h1 {
  font-size: 1.6rem;
}

.atualizadas {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  background: rgb(22, 22, 22);
  font-size: 1rem;
}

.apuracao {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.apuracao h4 {
  font-size: 1rem;
}

.apuracao p {
  color: rgb(0, 94, 0);
  font-weight: bold;
  font-size: 1.3rem;
}

.porcentagem {
  overflow-y: scroll;
  max-height: 300px;
  padding: 20px;
}

@media (max-width: 970px) {
  .resultado {
    gap: 60px;
  }

  .tabelas {
    flex-direction: column;
  }
}
