.container{
margin-top: 20px;

}

.container label{
    color: var(--bs-emphasis-color);
    display: block;
    cursor: pointer;
}

.container input{
    background-color: var(--bs-primary);
    color: white;
    font-size: .9rem;
    cursor: pointer;
   max-width: 100%;
}

@media (max-width:600px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .container label{
        width: 100%;
    }
    
    .form-control{
       display: none;
    }
}