.container{
margin-top: 20px;
display: flex;
justify-content: center;

}


.container input{
    background-color: var(--bs-primary);
    color: white;
    font-size: .9rem;
    cursor: pointer;
   width: 100%;
}
